[user]
	name = Tom
	email = thomaspatricksteven@gmail.com
[init]
	defaultBranch = main
[diff]
        tool = difftastic
        external = difft
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
